table {
  width: 100%;
}

td.left {
  text-align: left;
}
td.center {
  text-align: center;
}

td.right {
  text-align: right;
}

#t21{
padding: 10px;
}
/* td{
padding: 10px;
} */
/* #t-image img{
width: 100%;
align-content: center;
} */
#t31{
padding: 10px;
}