table {
  width: 100%;
}

/* td.left {
  text-align: left;
}
td.center {
  text-align: center;
}

td.right {
  text-align: right;
} */

#t21{
padding: 10px;
}

#t31{
padding: 10px;
}
#t12{
text-align: center;
}
#t13{
text-align: right;
}
#t11{
text-align: left;
}